*.term
jrtaylor.pdf
cmdline.term
sage-plots-for*.tex
*.sout
*.scmd
*.sage-backup
*.synctex.gz
*.bak
.bup/
*.log
.cache/
.forever/
.gitconfig
.sage/
.sagemathcloud/
.ssh/
*.term
*~
\.*
*.sage-chat
*.sage-history
.bash*
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.snm
*.nav
*.vrb
*.synctex.gz
